{% extends "base.html "%}

{% block body_block %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Coding Challenge!</h1>
      
      

<p>Using the Django Framework for server back-end and any interface framework of your choice, build a very simple employee information store. </p>

<p>The solution should be just a form collecting personal information like name, phone, email etc stored in PostgreSQL.</p>

<p>You can host the solution in any free hosting platform like AWS free tier or Google App Engine.</p>

<p> Use GitHub as a your revision system and send us a link to the repository and working solution once you are done. You have two (2) days </p>


    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">

      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
